body {
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header {
    height: 9vh;
    width: 300px;
    /* fixed width */
    margin: 0 auto;
    background-color: #03DAC6;
    display: flex;
    border-radius: 50px;
}

.header button {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #E0E0E0;
    margin-top: 5px;
    margin-left: 2%;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: #000000;
    transition: 0.3s ease;
}

#home {
    height: 100px;
    width: 100px;
    /* margin-left: 2000px; */
    /* margin-top: 30vh; */
    /* margin-left: 100px; */
    background-color: #03DAC6;
}

#about {
    height: 100px;
    width: 100px;
    /* margin-left: 100vh; */
    margin-left: 2000px;
    background-color: red;
}

#projects {
    height: 100px;
    width: 100px;
    /* margin-left: 100vh; */
    /* margin-left: 2000px; */
    background-color: green;
}

#contact {
    height: 100px;
    width: 100px;
    /* margin-left: 100vh; */
    /* margin-left: 2000px; */
    background-color: gray;
}
.site-sections{
    display: flex;
    height: 1000px;
    width: 1000px;
    position:absolute;
    
}